
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <div class="slide">
        <app-logo class="slidelogo"></app-logo><br>
        <h2>Welcome to Bluewallet</h2><br>
        <p>Madini Africa Coin (MAC) gives customers the benefits of actual physical ownership of specific gold bars with the speed and mobility of a digital asset. Customers are able to have fractional ownership of physical bars, stored and registered in a Bank vault.</p>
        
      </div>
      </ion-slide>
    <ion-slide>
      <div class="slide">
        <h1>Slide 2</h1>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="slide">
        <h1>Slide 3</h1>
      </div>
    </ion-slide>
  </ion-slides>

