<ion-header>
  <ion-toolbar>
    <ion-title>Login Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-card class="card bg-primary shadow-soft border-light p-4">
    <div class="center" style="text-align: center;">
      <ion-card-header>
        <app-logo></app-logo>
        <ion-card-subtitle>Login</ion-card-subtitle>
      </ion-card-header>
    </div>
  
    <ion-card-content class="card-body bg-primary">
      <form>
        <ion-list class="bg-primary">
          <div class="form-group">
              <div class="input-group mb-4">
                  <div class="input-group-prepend">
                      <span class="input-group-text"><ion-icon name="mail-outline"></ion-icon></span>
                  </div>
                  <ion-input class="form-control" name="username" placeholder="mail@mail.com" type="email" aria-label="email adress"  [(ngModel)]="postData.username" ></ion-input>
              </div>
          </div>

          <div class="form-group">
              <div class="input-group mb-4">
                  <div class="input-group-prepend">
                      <span class="input-group-text"><ion-icon name="lock-closed-outline"></ion-icon></span>
                  </div>
                  <ion-input class="form-control" name="password" placeholder="your password" type="password" aria-label="password"  [(ngModel)]="postData.password"></ion-input>
              </div>
          </div>

          <ion-button type="submit" class="btn btn-block btn-grey" (click)="LoginAction()">Login</ion-button>

          <div class="bg-primary">
            Not registered? <a routerLink="../signup"> Create account.</a>
          </div>

        </ion-list>
      </form>
    </ion-card-content>
  </ion-card>

</ion-content>
